/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: left;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
}

.menu {
    display: none;
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}
